html{
  font-size:24px;

}
.newspaper{
  width:600px;
  margin:40px auto;
  text-align:center;
  font-size:16px;
  font-family:Open Sans, sans-serif;
  border:1px solid black;
  padding:20px 50px;
  border-radius:20px;
  box-shadow:2px 5px 5px  black;
}
.date{
  margin:20px 0px;
}
.name{
  font-size:2rem;
  font-family:Times New Roman,serif;
}
.name,.author{
   text-transform: uppercase;
}
.headline{
  font-size:2em;
  font-weight:bold;

}
.sub-headline{
  font-weight:100;
  font-size:1.5em;
  font-style: italic;
  margin:20px 0px;
}
.author{
  font-weight:bold;
}
.text{
  text-indent:20px;
  line-height:2em;

}
.text::first-letter{
  font-weight:bold;
  font-size:2em;

}
