
#playing-cards{
  font-family:sans-serif ;
  display:flex;
  flex-wrap:wrap;
  gap:20px;
 
}
.card{
 width:250px;
 height:400px;
 border:1px solid black;
 border-radius:10px;
 display:flex;
 justify-content:space-between;
 box-shadow: 2px 3px 4px black;;
}
.left{
  display: flex;
  flex-direction: column;   
  justify-content:flex-start ;
  padding: 10px;
  font-size:30px;
}
.middle{
    display: flex;
  flex-direction: column;   
  justify-content:center ;
  
   font-size:50px;
}
.right{
  display: flex;
  flex-direction: column;   
  justify-content:flex-end ;
  align-items: end;
 padding: 8px;
 font-size:30px;

}
.reverse{
    align-self: flex-end;
  transform: rotate(180deg);
}
.red{
    color:red;
}
