    body {
      font-family: Arial, sans-serif;
      padding-top: 50px;
      padding-bottom: 50px;
      margin: 0 auto;
      width: 100vw;
      min-height: calc(100vh - 100px);
      
    }
.main,hr,
section,header {
  width:80%;
  margin: 0 auto; }
header{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 10px;
}
.main{
    width: 80%;
   border: 0;               
  border-top: 3px solid gold;
}
.sub{
    width: 40%;
    height: 2px;
    background-color: gold;
    border: none;
}

    