*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}
body{
  font-family:'Roboto', sans-serif;
  font-size: 18px;
  background-color: rgb(191, 166, 137);

}
/* Navbar */
#main-doc {
  width: 70%;
  margin: 0 auto;
}
#navbar{
  margin-bottom: 40px;
}

#navbar header{
  text-align: center;
  font-size: 35px;
  font-weight: bold;
}
#navbar ul{
  margin-top:20px;
  list-style-type: none;
  text-align: center;
  height: 200px;
  overflow-y: auto;
  scroll-behavior: smooth;
  border: 2px solid rgb(180, 174, 174);

}
#navbar li{
  display:block;

  height:40px;
  padding-top:10px ;
}
#navbar li:nth-child(even){
  background-color: rgb(112, 152, 187);
}
#navbar li:nth-child(odd){
  background-color: rgba(229, 222, 222, 0.653);
}
#navbar a{
  text-decoration: none;
  color:#333333;
  font-weight: 600;
}
/* Main part */
.main-section{
  margin-bottom: 30px;
}
.main-section header{
 
  margin-bottom:8px ;
  font-size: 30px;
  font-weight: 900;
}
.main-section p{
  text-indent: 70px;
  margin-left: 20px;
  line-height: 30px;
  font-size: 20px;
}
#MS_Dhoni h3{
 margin-top:20px;
 margin-bottom: 20px;
}
#MS_Dhoni ul{
  line-height: 30px;;
}
@media screen and (min-width:1000px){
  body{
    background-color: rgb(142, 157, 157);
  }
}